h1 {
    font-weight: 300;
    font-family: Roboto, sans-serif;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

thead {
    height: 2rem;
    text-align: left;
    background-color: #d3d3d3;
    color: #1db954;

}

img{
    height: 100px;
    width: 100px;
}

th, tr {
    padding: 0.5em;
    border-bottom: 1px solid #d3d3d3;
    background-color: #d3d3d3;
}

.co {
    background-color: #eee;
}

tr:hover {
    background-color: pink;
  }